.Order{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 1px 1px #ccc;
}

.Ingredients{
    margin: 1px;
    padding: 1px;
    border: 1px solid gray;
    background-color: greenyellow;
    text-transform: capitalize;
    display: inline-block;
}